## Generated Objects
gen.*
gen/objs
gen/pre_tag
gen/build
gen/tree

## Compiled Objects
*.cmi
*.cmx

## CIL Objects
cil-1.4.0/Makefile
cil-1.4.0/bin/CilConfig.pm
cil-1.4.0/bin/cilly.bat
cil-1.4.0/bin/patcher.bat
cil-1.4.0/obj
cil-1.4.0/config.h
cil-1.4.0/config.mk
cil-1.4.0/config.status
cil-1.4.0/src/formatparse.output
cil-1.4.0/src/frontc/cparser.output

## Lexer Objects
lexer/blocker
lexer/c_json
lexer/tags_json

## Tagger Objects
tagger/tagger
tagger/machine.ml
tagger/.depend

## Export
xr.export

