/* id definitions */
#ts-test {
	position: absolute;
}

#header {
	background-color: #CCCCCC;
	position: fixed; 
	top: 0px;
	left: 0px;
	right: 0px;
}

#header, #header-spacer {
	font-size: 125%;
}

#header {
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
}

#location {
	margin-left: .5em;
	box-pack: start;
	-moz-box-pack: start;
	-webkit-box-pack: start;
}

#graph {
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
}

#search {
	margin-right: .5em;
	box-pack: end;
	-moz-box-pack: end;
	-webkit-box-pack: end;
}

#search_results {
	font-family: monospace;
	position: fixed;
	background-color: #EEEEEE;
	height: 0px;
	right: .5em;
}

/* search */
div.search_header {
	float: left;
	font-weight: bold;
}

div.search_close {
	float:right;
}

div.search_close a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

div.search_clear {
	clear: both;
}

div.search_result {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding-left: .5em;
	padding-right: .5em;
}

div.line {
	font-family: monospace;
	white-space: pre;
}

div.select {
	background-color: #FFFFCC;
}

div.inner {
	background-color: #EEEEEE;
	margin-bottom: 1px;
}

div.expand {
	display: none;
	border-top: 1px solid #CCCCCC;
}

div.tag_select_bar {
	font-family: monospace;
	white-space: pre;
	border-bottom: 1px solid #CCCCCC;
}

div.tag_select_bar_even { background-color: #EEEEEE; }
div.tag_select_bar_odd	{ background-color: #F8F8F8; }

div.src_window {
	display: none;
	border-bottom: 1px solid #CCCCCC;
}

div.src_window_even { background-color: #EEEEEE; }
div.src_window_odd { background-color: #F8F8F8; }

div.lno_space {
	display: inline-block;
	background-color: #CCCCCC;
	text-align: right;
}

a { text-decoration: none; }

a.id {
	text-decoration: none;
	margin: 1px;
}

a.select {
	background-color: #FFFFCC;
}

a.more_bar {
	font-family: sans-serif;
	display: inline-block;
	background-color: #CCCCFF;
	vertical-align: bottom;
	text-align: center;
	color: black;
	text-decoration: none;
}

a.lno {
	color: #333333;
	background-color: #CCCCCC;
	text-align: right;
}

a.tag_select {
	display: inline-block;
	padding-right: .5em;
	padding-left: .5em;
	margin-right: .5em;
	border-right: 1px solid #CCCCCC;
}

span.comment {
	font-weight: bold;
	font-style: italic;
}

html {
	overflow-y: scroll;
}

/* Helper Classes */

.box {
	display: box;
	display: -moz-box;
	display: -webkit-box;
}

.vert {
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
}

.flex {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}
